@charset "UTF-8";

/*  Mobile  */

@import url(mobile/style.css);
@import url(tablets/style.css);
@import url(desktop/style.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor-principal:#3B2C27;
    --cor-secundaria:#8E685B;
    --cor-complementar:#261408;
}

@font-face {
    font-family: "font-especial2";
    src: url(../fonts/milky_coffee/Milky\ Coffee.ttf);
}
@font-face {
    font-family: "font-paragrafos";
    src: url(../fonts/calling_code/CallingCode-Regular.ttf);
}
@font-face {
    font-family: "font-especial";
    src: url(../fonts/cloister_black/CloisterBlack.ttf);
}

@font-face {
    font-family: "font-titulo";
    src: url(../fonts/mom/Mom«t___.ttf);
}

body{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/background/xicara-de-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* h1,
h2 {
  font-family: "font-titulo", sans-serif;
}

p,
legend {
  font-family: "font-paragrafos", sans-serif;
  text-align: justify;
} */

.perfil{
    width: 20px;
}