@charset "UTF-8";

/*  Mobile  */
@import url(mobile/style.css);
/*  Tablets  */
@import url(tablets/style.css);
/*  Desktop  */
@import url(desktop/style.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor-principal:#3B2C27;
    --cor-secundaria:#8E685B;
    --cor-complementar:#261408;
}

@font-face {
    font-family: "font-paragrafos";
    src: url(../fonts/calling_code/CallingCode-Regular.ttf);
}

body{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/background/xicara-de-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,h2,p,legend{
    font-family: "font-paragrafos";
}