header {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to left,
    var(--cor-principal),
    var(--cor-complementar)
  );
}

header > .box-logo {
  display: none;
}

header > .sociais > a > img {
  width: 3em;
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.1));
}

main {
  color: white;
  padding: 15px;
}

main > .sobre {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  backdrop-filter: blur(70px);
}

main > .sobre > .texto > h1 {
  margin-block: 20px;
  text-shadow: 1px 1px 3px black;
  text-align: center;
  font-weight: 500;
  font-size: 1.7em;
  line-height: 1.6em;
}

main > .sobre > .texto > h1 > span {
  color: var(--cor-secundaria);
}

main > .sobre > .texto > p {
  margin-bottom: 30px;
  text-indent: 40px;
  text-shadow: 1px 1px 2px black;
  line-height: 1.6em;
}

main > .sobre > .imagem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > .sobre > .imagem > img {
  width: 250px;
  border-radius: 50%;
  background-color: black;
  border: 10px solid var(--cor-complementar);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main > .sobre > .imagem > button {
  height: 40px;
  width: 200px;
  border: 1px solid var(--cor-complementar);
  border-radius: 10px;
  text-shadow: 2px 2px 2px black;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--cor-secundaria);
  color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
  margin-block: 15px;
}

main > .box-habilidades {
  margin-block: 35px;
}

main > .box-habilidades > h1 {
  margin: 30px;
  padding: 10px;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

main > .box-habilidades > fieldset {
  margin-bottom: 15px;
  padding: 20px;
  backdrop-filter: blur(50px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  border-top: px double white;
}

main > .box-habilidades > fieldset > legend {
  padding: 0px 10px;
  font-weight: bold;
  font-size: 1.3em;
}

main > .box-habilidades > fieldset > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

main > .box-habilidades > fieldset > div > p {
  margin-top: 10px;
}

main > .box-projetos {
  padding: 15px;
}

main > .box-projetos > h1 {
  margin: 15px;
  text-align: center;
  font-size: 1.8em;
}

main > .box-projetos > div {
  border: 1px solid white;

  backdrop-filter: blur(50px);
  padding: 22px;
  margin-block: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

main > .box-projetos > div > h2 {
  align-self: flex-start;
}

main > .box-projetos > div > .img {
  height: 200px;
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--cor-complementar);
}

main > .box-projetos > div > button {
  height: 30%;
  width: 70%;
  padding: 8px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}
